language: ruby
rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.1.1
  - ruby-head
  - jruby-19mode

notifications:
  recipients:
    - weppos@weppos.net

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-19mode
